apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: ai-siem-service
  annotations:
    run.googleapis.com/client-name: cloud-console
    run.googleapis.com/invoker-iam-disabled: 'true'
spec:
  template:
    metadata:
      annotations:
        run.googleapis.com/client-name: cloud-console
        run.googleapis.com/startup-cpu-boost: 'true'

    spec:
      containerConcurrency: 20
      timeoutSeconds: 300
      containers:
        - name: agent
          image: YOUR_IMAGE_NAME_ON_ARTIFACT_REGISTRY_AGENT
          ports:
            - name: http1
              containerPort: 10001
          resources:
            limits:
              memory: "512Mi"
              cpu: "1"
          volumeMounts:
          - name: YOUR_VOLUME_NAME
            mountPath: /app/logs
              
        - name: msgcenter
          image: YOUR_IMAGE_NAME_ON_ARTIFACT_REGISTRY_MSGCENTER
          resources:
            limits:
              memory: "128Mi"
              cpu: "1"

        - name: rpa
          image: YOUR_IMAGE_NAME_ON_ARTIFACT_REGISTRY_RPA
          resources:
            limits:
              memory: "128Mi"
              cpu: "1"

      volumes:
      - name: YOUR_VOLUME_NAME
        csi:
          driver: gcsfuse.run.googleapis.com
          volumeAttributes:
            bucketName: YOUR_BUCKET_NAME
            mountOptions: only-dir=data
  traffic:
  - percent: 100
    latestRevision: true


