# Remove annotation when using this config.ini

[GENERAL]
# Options: ollama, azure, gemini
embedding_provider = ollama

[OLLAMA]
base_url = http://192.168.72.20:11434
embedding_model = nomic-embed-text:v1.5

[AZURE]
api_key = 
api_base = 
api_version = 2023-05-15
embedding_deployment = text-embedding-ada-002

[GEMINI]
api_key = 
model_name = models/embedding-001
# Recommend 768, 1536, 3072
output_dimensionality = 768

[QDRANT]
# Left api_key empty when using qdrant on-premise
url = 
api_key = 

[CHUNKING]
chunk_size = 800
chunk_overlap = 400

[PROCESSING]
src_directory = src
