kind: containerapp
location: YOUR_LOCATION
name: YOUR_CONTAINER_APP_NAME
resourceGroup: YOUR_RESOURCE_GROUP
identity:
  type: SystemAssigned
properties:
  managedEnvironmentId: /subscriptions/YOUR_SUBSCRIPTION_ID/resourceGroups/YOUR_RESOURCE_GROUP/providers/Microsoft.App/managedEnvironments/YOUR_CONTAINER_APP_ENV
  configuration:
    activeRevisionsMode: multiple
    secrets:
      - name: azure-file-share-account-name
        value: YOUR_STORAGE_ACCOUNT_NAME
      - name: azure-file-share-account-key
        value: YOUR_STORAGE_ACCOUNT_KEY
  template:
    containers:
      - name: agent
        image: YOUR_ACR_LOGIN_SERVER/agent_image:1.0.0
        resources:
          cpu: 0.2
          memory: 0.4Gi
        volumeMounts:
          - volumeName: azure-files-volume
            mountPath: /app/logs
      - name: msgcenter
        image: YOUR_ACR_LOGIN_SERVER/msgcenter_image:1.0.0
        resources:
          cpu: 0.1
          memory: 0.1Gi
      - name: rpa
        image: YOUR_ACR_LOGIN_SERVER/rpa_image:1.0.0
        resources:
          cpu: 0.1
          memory: 0.1Gi
    volumes:
      - name: azure-files-volume
        storageType: AzureFile
        storageName: azure-files-volume